
@media screen and (max-width: 390px) {

  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  body{
    font-family: 'Geologica', sans-serif;
  }
  .ancho {
    max-width: 1200px;
    margin: auto;
  }
  
    .menu{
      flex: none;
      font-family: 'Inter', sans-serif;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      background-color: #0031F5;
      color: white  ;
    }
    .btn{
      text-decoration: none;
      background-color: #5DD4F5;
      transition: all 0.5s ease;
    }
    .btn:hover{
      background-color: #0031F5;
      
    }
    .btn a{
      color: white;
      text-decoration: none;
    }
  
    .info{
      display: flex;
      flex-direction: column;
    }
    .red{
      display: flex;
    }
    .uno, .dos, .tres{
      display: flex;
      padding: 8px;
    }
    .cuatro, .cinco,.seis, .siete, .ocho{
      padding: 7px;
    }
    
    .logo img{
      width: 150px;
    }
    #icono_menu{
      width: 100%;
      border: 1px blue solid;
      display: flex;
      justify-content: space-between;
    }

    .menu2{
      width: 100%;
      border: 1px black solid;
      flex-direction: column;
      justify-content: start;
      align-items: flex-start;
    }
    #abrir{
      display: flex;
    }
    .menu2 ul{
      flex-direction: column;
      width: 100%;
     
    }
    .menu2 ul li{
      border: 1px black solid;
    }
    .menu2 ul a{
      width: 100%;
      padding: 10px;
      align-items: center;
      color: black;
      transition: all 0.5s ease;
    }
    .menu2 ul a:hover{
      color: #5DD4F5;
    }
    .contenedor_slide {
      margin: auto;
      position: relative;
  
    }
  
    .rslides {
      position: relative;
      list-style: none;
      overflow: hidden;
      width: 100%;
      height: 600px;
      padding: 0;
      margin: 0;
  
      }
    .rslides li {
      -webkit-backface-visibility: hidden;
      position: absolute;
      display: none;
      width: 100%;
      left: 0;
      top: 0;
      height: 100vh;
      }
    .rslides li:first-child {
      position: relative;
      display: block;
      float: left;
      }
    .rslides img {
      display: block;
      height: auto;
      float: left;
      width: 100%;
      height: 100vh;
      object-fit: cover;
      border: 0;
      }
    .segundo{
    display: flex;
    flex-direction: column;
    }
    .op{
      display: flex;
      align-items: center;
    }
    .btn{
      text-decoration: none;
      display: inline-block;
      padding: 10px;
      border-radius: 5px;
    }
   
    .medio{
      height: 600px;
      position: relative;
    }
    .medio img{
      width: 100%;
    }
    
      .titulo{
        position: absolute;
        top: 40%;
        left: 40%;
        
      }
    h1{
      font-size: 50px;
      color: black;
      width: 300px;
    }
    .titulo p{
      font-size: 10px;
      padding: 20px;
      width: 80px;
      height: 60px;
      border-radius: 5px;
      transition: all 0.5s ease;
      background-color: #5DD4F5;
    }
    .titulo p:hover{
      background-color: #0031F5;
      padding: 20px;
      width: 200px;
      border-radius: 5px;
    }
    .our{
      flex-direction: column;
      display: flex;
      background-color: #bfd4d131;
      color: navy;
  
    }
    .comp{
      width: 200px;
    font-size: 30px;
    color: navy;
    }
    .agua{
      justify-content: center;
      align-items: center;
      text-align: center;
      width: 200px;
    }
    .agua i{
      font-size: 60px;
    }
    .agua p{
      font-size: 20px;
      color: navy;
      transition: all 0.5s ease;
    }
    .agua p:hover{
      font-size: 20px;
      color: #5DD4F5;
    }
    .part{
      flex-direction: column;
      display: flex;
      justify-content: space-between;
      gap: 60px;
    }
    .real picture img{
      width: 400px;
    }
    .real{
      flex-direction: column;
    }
    .info1 h3{
      font-size: 40px;
      color:navy;
    }
   .cali{
    font-family: 'Inter', sans-serif;
    display: flex;
   }
   .temp{
  width: 200px;
  
   }
   .temp i{
  font-size: 60px;
  color: #5DD4F5;
   }
   .sub{
    color: navy;
    font-weight: 100px;
   }
   .btn2{
    width: 170px;
    padding: 10px;
    color: white;
    background-color: #5DD4F5;
    text-decoration: none;
    transition: all 0.5s ease;
   }
   .icono{
    flex-direction: column;
   }
   .btn2 a{
    color: white;
    text-decoration: none;
   }
   .btn2:hover{
    background-color: navy;
   }
   .tru{
    display: flex;
   }
   .flot{
    position: fixed;
    width: 50px;
    height: 50px;
    background-color: navy;
    bottom: 40px;
    right: 50px;
    text-decoration: none;
    text-align: center;
    line-height: 50px;
    color: white;
    font-size: 20px;
    border-radius: 50%;
   }
   .flot:hover{
    background-color: #5DD4F5;
   }
   .icono{
    justify-content: center;
    align-items: center;
   }
   .pri{
    align-items: center;
    gap: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 50px;
  }
   .seg{
    align-items: center;
    gap: 50px;
    flex-direction: column;
    display: flex;
    justify-content: space-between;
   }
   .tre{
    display: flex;
   }
   .tru i{
    color: navy;
    font-size: 50px;
   }
   .tre i{
    color: navy;
    font-size:50px;
   }
   .azu{
    color: navy;
    font-size: 16px;
   }
   .az{
    color: #5DD4F5;
    font-size: 40px;
   }
   .cin{
    text-align: center;
    background-color: #bfd4d131;
   }
  .ch{
  color: #5DD4F5;
  }
  .gr{
    color: navy;
    font-size: 50px;
  }
  /*Carousel */
  .view{
    display: flex;
    list-style: none;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
  }
  .view li{
    float: left;
    padding: 10px;
    
  }
  
  .cont1{
    width: 270px;
    height: 220px;
  }
  .cont1 img{
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  #slide{
    display: flex;
    height: 300px;
  }
  #slide .view li{
    float: left;
  }
  #slide .view2{
    overflow: hidden;
    height: 220px;
    flex-grow: 1;
    position: relative;
  }
  /* Carousel */
  .fon{
    background-color: navy;
    display: flex;
    color: white;
    height: 200px;
  }
  .fon p{
    font-family: 'Inter', sans-serif;
    font-size: 30px;
    width: 500px;
  }
  .btn3{
    color: white;
    padding: 15px;
    border-radius: 5px;
    background-color: #5DD4F5;
    transition: all 0.5s ease;
  }
  .btn3 a{
    color: white;
    text-decoration: none;
    
  }
  .btn3:hover{
    background-color: navy;
  }
  .sub{
    text-align: center;
  }
  .sub p{
    align-items: center;
  text-align: center;
  }
  .video{
    max-width: 800px;
  }
  #youtube{
    height: 0;
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
  }
  #youtube iframe{
    border-radius: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  .wor{
  color: #5DD4F5;
  }
  .get{
    color: navy;
    font-size: 40px;
  }
  .circulo{
    display: flex;
    text-align: start;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 200px;
  }
  .cir a{
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    background-color: #5DD4F5;
    color: white;
    transition: all 0.5s ease;
  }
  .circulo a:hover{
    background-color: navy;
  }
  .cir{
    text-align: start;
    width: 500px;
  
  }
  .foto{
    flex-direction: column;
    display: flex;
    gap: 40px;
  }
  .ciruno img{
  width: 200px;
  height: 200px;
  display: flex;
  padding: 10px;
  border-radius: 100%;
  }
  .ciruno p{
    color: navy;
  }
  .fot{
    display: flex;
   flex-direction: column;
   text-align: center;
  }
  .bot{
    background-color: navy;
  }
  .bot img{
    width: 500px;
    height: 600px;
    padding: 80px;
  }
  .bot{
    display: flex;
  }
  .infor{
    padding: 80px;
    color: white;
  }
  .peru{
    width: 0px;
  }
  .peru img{
    width: 100%;
  }
  .tam{
    font-size: 40px;
  }
  .cuadro{
    display: flex;
  }
  .cuadro h4{
    font-size: 15px;
  }
  .acordeon{
    padding: 10px;
  }
  .btn4{
  text-decoration: none;
  padding: 15px;
  border-radius: 10px;
  background-color: #5DD4F5;
  width: 200px;
  transition: all 0.5s ease;
  }
  .btn4 a{
    text-decoration: none;
    color: white;
  }
  .btn4:hover{
    background-color: #5dd4f541;
  }
  .cat{
    border: 2px red solid;
    justify-content: center;
    margin-left: 50px;
   flex-direction: column-reverse;
    display: flex;
    margin-bottom: 10px;
  
  }
  .vende{
    margin-bottom: 40px;
    width: 250px;
    height: 300px;
    box-shadow: 5px 5px 5px 3px rgb(0,0,0, 0.1);
    
  }
  .vende img{
  width: 100%;
  height: 85%;
  }
  .cat h5{
    color: navy;
    font-size: 15px;
  }
  .colla{
    font-family: 'Inter', sans-serif;
    display: flex;
    justify-content: space-evenly;
  }
  .con{
    display: flex;
    width: 300px;
  }
  .con i{
    color: #5DD4F5;
    font-size: 60px;
  }
  .con p{
    font-size: 15px;
    color: navy;
  }
  .cer h6{
    color: #5DD4F5;
    font-size: 20px;
  }
  .lis{
    flex-direction: column;
    margin-bottom: 10px;
  }
  .lis li {
    list-style: none;
    padding: 25px;
    border-radius: 5px;
    transition: all 0.5s ease;
  }
  .lis li:hover{
  background-color: #5DD4F5;
  }
  .lis a{
    text-decoration: none;
    color: black;
    transition: all 0.5s ease;
  }
  .lis a:hover{
    color: white;
  }
  .contm{
   flex-direction: column;
  }
  .contm img{
    width: 300px;
   
  }
  .part2{
    padding: 50px;
  }
  .Ca{
    color: #5DD4F5;
  }
  .fin{
    flex-direction: column;
  }
  .Lor{
    color: navy;
    font-size: 50px;
  }
  .fin{
    margin-left: 40px;
    gap: 30px;
  
  }
  .fn{
    width: 300px;
    height: 450px;
    text-align: center;
    box-shadow: 5px 5px 5px 3px rgb(0,0,0, 0.1);
  }
  .fin img{
    width: 100%;
    height: 50%;
  }
  .ab{
    display: flex;
  }
  .aba{
    color: #5DD4F5;
    display: flex;
    justify-content: space-around;
  }
  .to{
    padding: 10px;
    color: navy;
  }
  .lorem{
    padding: 20px;
    text-align: start;
  }
  .fondo{
    width: 300px;
  }
  .pie{
    flex-direction: column;
    font-family: 'Inter', sans-serif;
  }
  .fons{
    display: flex;
  }
  .fons i{
    padding: 10px;
  }
  .aguap{
    font-size: 20px;
  }
  .fondo img{
    width: 100px;
  }
  .pie{
    background-color: navy;
    color: white;
  }
  .sig{
    display: flex;
  }
  .icfin{
    display: flex;
  }
  .foter{
    display: flex;
    flex-direction: column;
  }
  .team_fondo{
    position: relative;
    height: 400px;
  }
  .team_fondo img{
    width: 100%;
    height: 100%;
  }
  .team_cont{
    background-color: #0031f570;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .team_cont{
    color: white;
    font-size: 80px;
  }
  .contac_icono{
    display: flex;
    justify-content: space-between;
  }
  .con_ico1{
    width: 300px;
    text-align: center;
    box-shadow: 5px 5px 5px 3px rgb(0,0,0, 0.1);                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    
  }
  .con_ico1 i{
    color: #5DD4F5;
    font-size: 60px;
    text-align: center;
  }
  .con_lo{
    color: navy;
    font-size: 20px;
  }
  .formu{
    font-size: 20px;
  }
  .forms{
    width: 200px;
    background-color: #090b1370;
    padding: 60px;
    margin-top: 100px;
    text-align: center;
    padding: 30px;
    display: none;
    position: absolute;
    top: 0;
    left: 15%;
    width: 70%;
    height: 60%;
    flex-direction: column;
  }
  .date{
    width: 100%;
    padding: 7px;
    margin-bottom: 16px;
  }
  .abrir_modal{
    justify-content: center;
    padding: 10px;
    width: 200px;
    background-color: #0031F5;
    text-align: center;
    border-radius: 5px;
    transition: all 0.5s ease;
  }
  .abrir_modal a{
    color: white;
    text-align: center;
    text-decoration: none;
  }
  .abrir_modal:hover{
    background-color: #5DD4F5;
  }
  #cerrar{
    padding: 10px;
    border-radius: 5px;
    background-color: navy;
    color: white;
    text-decoration: none;
    transition: all 0.5s ease;
  }
  #cerrar:hover{
    background-color: #5DD4F5;
  }
  .vendedor{
    width: 400px;
    height: 400px;
    text-align: start;
    position: relative;
    overflow: hidden;
    box-shadow: 5px 5px 5px 3px rgb(0,0,0, 0.1);
  }
  .baner{
    display: flex;
    gap: 20px;
  }
  .vend_1 img{
    width: 100%;
    height: 70%;
  }
  .team_ven{
    padding: 20px;
  }
  .ven_uno{
    color: navy;
    font-size: 30px;
  }
  
  .info_water{
    background-color: rgba(0, 0, 1, 0.281);
    font-size: 40px;
    color: white;
    position: absolute;
    padding: 10px;
    top: 110%;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease;
  }
  .vendedor:hover .info_water{
    top:0;
  }
  #galeria {
    padding: 5px;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
  .fancybox-nav span {
		visibility: normal;
	}
}